In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/preprocessed.csv')

In [3]:
df.head()

,Unnamed: 0,umich_user_id,answer_count,average_answer_length,total_votes_given_answers,total_votes_received_answers,question_count,average_question_length,total_votes_given_questions,total_votes_received_questions,total_questions_following,country_cd_US,is_female,bachelor_obtained,white,completed
0,0,d8494a39cae7ac5417d491df43f8296a285b3cd6,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1,1,1,0,0
1,1,9c3e969ace3d1278a5e3ad42fa80dfc20379aaf5,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1,1,1,0,0
2,2,c91dab5c98bead9e683d15e9e2cc2c4584a8e626,10.0,797.200000,0.0,0.0,0.0,797.200000,0.0,0.0,0.0,1,1,0,1,1
3,3,2246b3c08e2f3ee5d17f125ccc70baf3691667f9,5.0,589.000000,1.0,1.0,1.0,589.000000,0.0,4.0,1.0,1,1,1,1,1
4,4,1f8331ad9f0125b0fc85a1c4ff28f9c198b6fca2,11.0,300.818182,3.0,3.0,0.0,300.818182,0.0,3.0,0.0,1,0,0,1,1

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df.columns

Index(['umich_user_id', 'answer_count', 'average_answer_length',
       'total_votes_given_answers', 'total_votes_received_answers',
       'question_count', 'average_question_length',
       'total_votes_given_questions', 'total_votes_received_questions',
       'total_questions_following', 'country_cd_US', 'is_female',
       'bachelor_obtained', 'white', 'completed'],
      dtype='object')

In [7]:
protected = ['country_cd_US', 'is_female',
       'bachelor_obtained', 'white']

In [8]:
all = df.columns

In [9]:
new_df = pd.DataFrame(0, columns=all, index=df.index)

In [10]:
new_df[protected] = 1

In [11]:
new_df.head()

,umich_user_id,answer_count,average_answer_length,total_votes_given_answers,total_votes_received_answers,question_count,average_question_length,total_votes_given_questions,total_votes_received_questions,total_questions_following,country_cd_US,is_female,bachelor_obtained,white,completed
0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0
1,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0
2,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0
3,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0
4,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0

In [12]:
new_df['completed'] = 2

In [16]:
new_df = new_df.drop(['umich_user_id'], axis=1)

In [17]:
new_df.to_csv('protected.csv', index=False)

In [19]:
new_df = new_df.iloc[:1]
new_df.to_csv('protected.csv', index=False)

In [22]:
df = pd.read_csv('./preprocessed.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df = df.drop(['umich_user_id'], axis=1)

In [24]:
df.to_csv('preprocessed.csv', index=False)

In [23]:
df.head()

,answer_count,average_answer_length,total_votes_given_answers,total_votes_received_answers,question_count,average_question_length,total_votes_given_questions,total_votes_received_questions,total_questions_following,country_cd_US,is_female,bachelor_obtained,white,completed
0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1,1,1,0,0
1,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1,1,1,0,0
2,10.0,797.200000,0.0,0.0,0.0,797.200000,0.0,0.0,0.0,1,1,0,1,1
3,5.0,589.000000,1.0,1.0,1.0,589.000000,0.0,4.0,1.0,1,1,1,1,1
4,11.0,300.818182,3.0,3.0,0.0,300.818182,0.0,3.0,0.0,1,0,0,1,1