In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/preprocessed.csv')

In [4]:
df.head()

,Unnamed: 0,umich_user_id,answer_count,average_answer_length,total_votes_given_answers,total_votes_received_answers,question_count,average_question_length,total_votes_given_questions,total_votes_received_questions,...,female,gender_other,gender_na,white,latinx,black,asian,race_others,race_na,completed
0,0,d8494a39cae7ac5417d491df43f8296a285b3cd6,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,...,1,0,0,0,0,0,0,0,1,0
1,1,9c3e969ace3d1278a5e3ad42fa80dfc20379aaf5,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,...,1,0,0,0,0,0,0,0,1,0
2,2,c91dab5c98bead9e683d15e9e2cc2c4584a8e626,10.0,797.200000,0.0,0.0,0.0,797.200000,0.0,0.0,...,1,0,0,1,0,0,0,0,0,1
3,3,2246b3c08e2f3ee5d17f125ccc70baf3691667f9,5.0,589.000000,1.0,1.0,1.0,589.000000,0.0,4.0,...,1,0,0,1,0,0,0,1,0,1
4,4,1f8331ad9f0125b0fc85a1c4ff28f9c198b6fca2,11.0,300.818182,3.0,3.0,0.0,300.818182,0.0,3.0,...,0,0,1,1,0,0,0,0,0,1

In [6]:
df['completed'].value_counts()

completed
0    573
1    559
Name: count, dtype: int64

In [16]:
clean = pd.read_csv('./preprocessed.csv')

In [17]:
clean.head()

,Unnamed: 0,umich_user_id,answer_count,average_answer_length,total_votes_given_answers,total_votes_received_answers,question_count,average_question_length,total_votes_given_questions,total_votes_received_questions,total_questions_following,country_cd_US,is_male,bachelor_obtained,completed
0,0,d8494a39cae7ac5417d491df43f8296a285b3cd6,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1,0,1,0
1,1,9c3e969ace3d1278a5e3ad42fa80dfc20379aaf5,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1,0,1,0
2,2,c91dab5c98bead9e683d15e9e2cc2c4584a8e626,10.0,797.200000,0.0,0.0,0.0,797.200000,0.0,0.0,0.0,1,0,0,1
3,3,2246b3c08e2f3ee5d17f125ccc70baf3691667f9,5.0,589.000000,1.0,1.0,1.0,589.000000,0.0,4.0,1.0,1,0,1,1
4,4,1f8331ad9f0125b0fc85a1c4ff28f9c198b6fca2,11.0,300.818182,3.0,3.0,0.0,300.818182,0.0,3.0,0.0,1,0,0,1

In [19]:
clean.drop('Unnamed: 0', inplace=True, axis=1)

In [22]:
df = pd.concat([df, pd.get_dummies(df['reported_or_inferred_gender'])], axis=1)

In [23]:
df.head()

,umich_user_id,user_join_ts,country_cd,region_cd,profile_language_cd,browser_language_cd,reported_or_inferred_gender,employment_status,educational_attainment,student_status,female,male
0,d8494a39cae7ac5417d491df43f8296a285b3cd6,2012-08-14 07:49:23,US,GA,en-US,en,female,NaN,BACHELOR_DEGREE,NaN,True,False
1,9c3e969ace3d1278a5e3ad42fa80dfc20379aaf5,2013-06-11 15:30:14,US,DC,en-US,en-US,female,NaN,PROFESSIONAL_DEGREE,NaN,True,False
2,c91dab5c98bead9e683d15e9e2cc2c4584a8e626,2018-02-27 17:24:35,US,MI,en-US,en-US,female,NaN,NaN,NaN,True,False
3,2246b3c08e2f3ee5d17f125ccc70baf3691667f9,2019-02-03 21:02:42,US,MI,en-US,en-US,female,EMPLOYED_FULL_TIME,BACHELOR_DEGREE,NaN,True,False
4,1f8331ad9f0125b0fc85a1c4ff28f9c198b6fca2,2019-12-16 18:33:50,US,MI,en-US,en-US,NaN,NaN,NaN,NaN,False,False

In [24]:
df['female'] = df['female'].astype(int)

In [25]:
df = df[['umich_user_id', 'female']]

In [32]:
df['is_female'] = df['female']
df.drop('female', axis=1, inplace=True)
df.head()

KeyError: 'female'

In [33]:
new_clean = pd.merge(df, clean, on='umich_user_id', how='inner')

In [34]:
new_clean.head()

,umich_user_id,is_female,answer_count,average_answer_length,total_votes_given_answers,total_votes_received_answers,question_count,average_question_length,total_votes_given_questions,total_votes_received_questions,total_questions_following,country_cd_US,is_male,bachelor_obtained,completed
0,d8494a39cae7ac5417d491df43f8296a285b3cd6,1,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1,0,1,0
1,9c3e969ace3d1278a5e3ad42fa80dfc20379aaf5,1,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1,0,1,0
2,c91dab5c98bead9e683d15e9e2cc2c4584a8e626,1,10.0,797.200000,0.0,0.0,0.0,797.200000,0.0,0.0,0.0,1,0,0,1
3,2246b3c08e2f3ee5d17f125ccc70baf3691667f9,1,5.0,589.000000,1.0,1.0,1.0,589.000000,0.0,4.0,1.0,1,0,1,1
4,1f8331ad9f0125b0fc85a1c4ff28f9c198b6fca2,0,11.0,300.818182,3.0,3.0,0.0,300.818182,0.0,3.0,0.0,1,0,0,1

In [35]:
new_clean.drop('is_male', axis=1, inplace=True)

In [36]:
new_clean.to_csv('preprocessed_female.csv')

In [31]:
df.head()

                              umich_user_id  is_female
0  d8494a39cae7ac5417d491df43f8296a285b3cd6          1
1  9c3e969ace3d1278a5e3ad42fa80dfc20379aaf5          1
2  c91dab5c98bead9e683d15e9e2cc2c4584a8e626          1
3  2246b3c08e2f3ee5d17f125ccc70baf3691667f9          1
4  1f8331ad9f0125b0fc85a1c4ff28f9c198b6fca2          0

In [42]:
curr = df[df['country_cd_US'] == 1]
(curr[curr['completed'] == 1]).shape[0] / curr.shape[0]

0.5134061569016882

In [24]:
curr['completed'] == 1

12      False
35      False
42       True
43      False
44      False
        ...
1117    False
1118    False
1119     True
1120     True
1125    False
Name: completed, Length: 182, dtype: bool

In [35]:
df.head()

,Unnamed: 0,umich_user_id,answer_count,average_answer_length,total_votes_given_answers,total_votes_received_answers,question_count,average_question_length,total_votes_given_questions,total_votes_received_questions,...,female,gender_other,gender_na,white,latinx,black,asian,race_others,race_na,completed
0,0,d8494a39cae7ac5417d491df43f8296a285b3cd6,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,...,1,0,0,0,0,0,0,0,1,0
1,1,9c3e969ace3d1278a5e3ad42fa80dfc20379aaf5,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,...,1,0,0,0,0,0,0,0,1,0
2,2,c91dab5c98bead9e683d15e9e2cc2c4584a8e626,10.0,797.200000,0.0,0.0,0.0,797.200000,0.0,0.0,...,1,0,0,1,0,0,0,0,0,1
3,3,2246b3c08e2f3ee5d17f125ccc70baf3691667f9,5.0,589.000000,1.0,1.0,1.0,589.000000,0.0,4.0,...,1,0,0,1,0,0,0,1,0,1
4,4,1f8331ad9f0125b0fc85a1c4ff28f9c198b6fca2,11.0,300.818182,3.0,3.0,0.0,300.818182,0.0,3.0,...,0,0,1,1,0,0,0,0,0,1

In [38]:
df.columns

Index(['Unnamed: 0', 'umich_user_id', 'answer_count', 'average_answer_length',
       'total_votes_given_answers', 'total_votes_received_answers',
       'question_count', 'average_question_length',
       'total_votes_given_questions', 'total_votes_received_questions',
       'total_questions_following', 'country_cd_US', 'bachelor_obtained',
       'male', 'female', 'gender_other', 'gender_na', 'white', 'latinx',
       'black', 'asian', 'race_others', 'race_na', 'completed'],
      dtype='object')